/*General Styles*/

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  color: white;
  background-color: black;
}

ul, nav {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  opacity: 0.75;
  color: white;
}

a:hover {
  text-decoration: none;
  opacity: 1;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section:not(.hero) {
  color: black;
}

section .header {
  font-family: "Bebas Neue", "Oswald";
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
}

section:not(.hero):nth-child(odd) {
  background-color: white;
}

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5;
}

/*Header Styles*/

header {
  padding-top: 20px;
  text-align: center;
}

header nav ul li {
  display: inline;
  padding: 20px;
}

header nav ul {
  padding: 0;
}

/*Hero Styles*/

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
}

.hero .background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url("../img/background-img.jpg");
  opacity: 0;
  animation: 0.5s fadeIn 1s forwards;
}

.hero h1 {
  margin-top: -70px;
  font-size: 5em;
  font-weight: 300;
  opacity: 0;
  animation: 3s fadeIn 1s forwards;
}

.hero h1 span {
  font-weight: 500;
}

@media (max-width: 800px) {
  .hero h1 {
    font-size: 2em;
  }
  
  .hero .background-image {
    position: absolute;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

/*About Styles*/

.about {
  justify-content: center;
}

.about .thumbnail {
  padding: 0;
  border: none;
}

.about .thumbnail img {
  border-radius: 50px;
}

.about .header {
  font-size: 3em;
}

@media (max-width: 800px) {
  .about .header {
    font-size: 2em;
  }
}

/*Portfolio Styles*/

.portfolio {
  justify-content: center;
}

.portfolio .thumbnail {
  padding: 0;
  border: none;
}

.portfolio .thumbnail img {
  border-radius: 5px;
  transition: 0.5s;
}

.portfolio .thumbnail img:hover {
  opacity: 0.75;
}

.portfolio .thumbnail h4 {
  text-decoration: none;
  color: black;
  padding: 20px;
}

.portfolio .thumbnail h4:hover {
  opacity: 0.75;
  color: black;
}

.portfolio .header {
  font-size: 3em;
}

@media (max-width: 800px) {
  .portfolio .header {
    font-size: 2em;
  }
}

/*Contact Styles*/

.contact {
  justify-content: center;
}

.contact .header {
  font-size: 3em;
}

@media (max-width: 800px) {
  .contact .header {
    font-size: 2em;
  }
}